.Contact {
    background: #090909 !important; 
    font-family: "Oswald", sans-serif;
    color: white;
    min-width: 100%;
}


form {
    margin-left: 200px;
    width: 78%;
}

.contact-title {
    margin-left: 200px;
    margin-top: 0px;
}

@media (max-width: 1050px) {
    form {
        margin-left: 150px;
        width: 78%;
    }

    .contact-title {
        margin-left: 150px;
    }
}

@media (max-width: 800px) {
    form {
        margin-left: 90px;
        width: 78%;
    }
    .contact-title {
        margin-left: 90px;
    }
}

@media (max-width: 540px) {
    form {
        margin-left: 50px;
        width: 78%;
    }

    .contact-title {
        margin-left: 50px;
    }
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
}

label {
    font-weight: 200;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(255, 94, 0);
    border: none;
}